<app-form
   [tituloComponent]="['Cadastro de Cartão', 'cartao']"
   [receberForm]="form"
   [camposInput]="[
     {chave: 'nome', descricao: 'Nome', placeholder: 'Digite o Nome do Cartão'},
     {chave: 'bandeira', descricao: 'Bandeira', placeholder: 'Digite a Bandeira'},
     {chave: 'numero', descricao: 'Número do Cartão', placeholder: 'Digite o Número do Cartão'},
     {chave: 'limite', descricao: 'Limite do cartão', placeholder: 'Digite o Limite do cartão'}]"
   (emitForm)="postCartao($event)">
</app-form>

