.container {
  min-height: calc(100vh - 122px);
  display: flex;
  flex-direction: column;
}

.container div {
  width: 65%;
  margin: auto;
}

mat-card, mat-card-header {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  text-align: center;
}

mat-form-field, form .campos-container {
  width: 100%;
}

mat-card-actions {
  margin: 0;
  padding: 18.8px 0 0;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.mat-error {
  margin-block: -20px 5px !important;
}
