<mat-card class="form-container">
  <h1>Faça seu login</h1>

  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-error *ngIf="getCampo('email')?.invalid && getCampo('email')?.touched">
      {{getErrosCampo('email')}}
    </mat-error>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="senha">
    </mat-form-field>
    <mat-error *ngIf="getCampo('senha')?.invalid && getCampo('senha')?.touched">
      {{getErrosCampo('senha')}}
    </mat-error>

    <div class="botoes">
      <button mat-stroked-button color="primary" [disabled]="form.invalid" [ngStyle]="{'pointer-events': form.invalid ? 'none' : ''}">Logar</button>
      <button mat-stroked-button color="accent" type="button" [routerLink]="['/usuarios/cadastrar']">Não possuo conta</button>
    </div>
  </form>
</mat-card>
