<main class="container-table">
  <table mat-table [dataSource]="dadosTabela" class="mat-elevation-z8 tabela">
    <ng-container matColumnDef="{{ coluna }}" *ngFor="let coluna of tabela.colunas[0]; let i = index">
      <th mat-header-cell *matHeaderCellDef>{{ coluna }}</th>
      <td TabelaInteligente mat-cell *matCellDef="let classe" [attr.data-label]="coluna">
        <span *ngIf="coluna != 'Ícone'" DiretivaInteligente>{{ getAtributoElemento(classe, tabela.colunas[1], i) }}</span>
        <mat-icon *ngIf="coluna == 'Ícone'">{{ getAtributoElemento(classe, tabela.colunas[1], i) }}</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="Despesas" *ngIf="tabela.componente == 'cartoes'">
      <th mat-header-cell *matHeaderCellDef>Despesas</th>
      <td mat-cell *matCellDef="let classe" [attr.data-label]="'Despesas'">
        <div>
          <button mat-button color="primary" [routerLink]="['/usuarios/financeiro/despesas/cartao/listagem/', classe.id]"><mat-icon>open_in_new</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Ações">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let classe" [attr.data-label]="'Ações'">
        <div>
          <button mat-mini-fab color="primary" (click)="rotaAtualizar(classe)"><mat-icon>edit</mat-icon></button><!-- [routerLink]="[atualizarFuncaoRoute(funcao.id)]" -->
          <button mat-mini-fab color="warn" (click)="modalDeletar(classe)"><mat-icon>delete_forever</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasTabela"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons id="paginator"></mat-paginator>
</main>
