.container-table {
  overflow-x: auto;
  box-shadow: 0px, 0px, 7px, -3px, #000;
  border-radius: 3px;
}

/* Scrollbar */
.container-table::-webkit-scrollbar-track {
  border-radius: 0 0 10px 10px;
  background-color: #800080;
  margin-inline: 1px;
}

.container-table::-webkit-scrollbar {
  height: 6px;
  background-color: #800080;
  border-radius: 0 0 10px 10px;
}

.container-table::-webkit-scrollbar-thumb {
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 0 6px #00000056;
  background-color: #fff;
}

table th {
  background-color: #34073D;
  color: #fff;
  text-align: center;
  padding: 15px;
}

table td {
  padding-inline: 13px;
}

table td:last-child div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
}

mat-icon {
  margin-top: -3px;
}

mat-paginator {
  position: sticky;
  left: 0;
  /* @include mixins.mobile-max-w(615px) {
    & {
      .mat-mdc-paginator-range-label {
        display: none;
      }
    }
  } */
}

/* Responsividade */
@media(max-width: 615px) {
  ng-deep.mat-mdc-paginator-range-label {
    display: none !important;
  }
}
/* @media(max-width: 600px) {
  table thead,
  table th {
    font-size: 11px !important;
  }

  [mat-header-row] {
    display: inline;
  }

  table thead,
  table th {
    display: none !important;
  }

  table tr td {
    width: 100%;
    padding: 10px !important;
    display: flex;
    justify-content: space-between;
    text-align: end;
  }

  table tr td::before {
    content: attr(data-label);
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    margin: auto 0;
    margin-right: 20px;
  }

  table td .mat-icon {
    height: auto;
  }

  ::ng-deep .mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  }

  ::ng-deep .mdc-data-table__cell:last-child, .mdc-data-table__row:last-child .mdc-data-table__cell:last-child {
    border-bottom: 2px solid #000 !important;
  }
} */
/* ------------------------- */
