<app-form
[tituloComponent]="['Cadastro de Despesas', 'despesa']"
[receberForm]="form"
[camposInput]="[{chave: 'descricao', descricao: 'Descrição', placeholder: 'Digite a descrição da despesa'},
                {chave: 'valor', descricao: 'Valor', placeholder: 'Digite o valor da Despesa'},
                {chave: 'dia', descricao: 'Dia', placeholder: 'Digite o dia'},
                {chave: 'ano', descricao: 'Ano', placeholder: 'Digite o ano'},]"
[camposSelect]="[{chave: 'mesId', descricao: 'Selecione o mês', placeholder: ''},
                 {chave: 'cartaoId', descricao: 'Selecione o cartão', placeholder: ''},
                 {chave: 'categoriaId', descricao: 'Selecione a categoria', placeholder: ''}]"
[valoresSelect]="[meses, cartoes, categorias]"
[listaDias]="diasValidosDoMes"
(emitForm)="postDespesa($event)"
><!-- [valoresSelect]="tipos" -->
</app-form>
